@media only screen and (max-width: 740px) {
    /* Pour les cellulaires : */
    [class*="col"] {
      width: 100%;
      display: inline;
    }
    h1,h2,h3{
        text-align: center;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      height: 20%;
    }
  }

  