html, button,input, select,textarea , a {
    color: #444;
}

html{
    font-size: 1em;
    line-height: 1.4 ;
    background-color: rgb(253, 252, 248);
}

#wrapper{
    max-width: 900px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    margin-left: auto;
    border: 1px solid #ccc ;
    border-radius: 3px;  
    width: 180px; /* Width of new image */
    height: 180px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

header,footer{
    /*background-color: white; */ 
    background-image: url("../conception-fond-blanc-poly-faible_1017-33204.webp");
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

h1{
    font-family: dapifer, serif;
    font-style: normal;
    font-weight: 900;
    color: #0077B6;
    padding: 0px 23px;
}
h2{
    font-family: sutro, serif;
    font-style: normal;
    font-weight: 300;
    color: #03045E;
    padding: 0px 23px;
    background-color: #fff;
}


hr, h3{
    color: #0077B6;  
}

h4 {
    font-family: sutro, serif;
    font-style: normal;
    font-weight: 200;
    padding: 0px 23px;
}

#infos{
    text-align: center;
}

dt{
    font-weight: bold;
}

.second{
    color: rgb(102, 101, 101);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

section{
    background-color: #fff;
    padding: 0px 23px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

footer{
    text-align: center;
}


hr{
    background-color: #03045E;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-content{
    max-width: 950px;
    display: table-cell;
    width: 75%;
  }

  
  #details {
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
  }
   #details2 {
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
  }  

   .skill:hover .coupontooltip {
    display: block;
  }
  
  
  .coupontooltip {
    display: none;
    background: #0077B6 ;
    color: #fff;
    opacity: 0.85 ;
    margin-left: 28px;
    padding: 4px;
    position: absolute;
    z-index: 1000;
  }



/* optional styling to add a "wedge" to the tooltip */
.coupontooltip:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom: 8px solid  #0077B6;
  }

  .fa.fa-star {
    float: right;
  }
  
  canvas{
    width: 100%;
      max-width: 600px;
      margin: 0px auto;
      display: block;
      background-color: #fbfbfb;
      padding: 30px;
      border-radius: 14px;
  }


